<ion-header [translucent]="true">
  <ion-toolbar color="weknow-secondary">
    <ion-buttons slot="start">
      <ion-back-button
        color="weknow-primary"
        text="Atrás"
        default-href="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Información del usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-black-shape-background />

  @if ( user() ) {
  <app-user-card [user]="user()!" />

  <app-field-list title="Compañía" [fields]="user()!.companyfields" />

  <app-field-list
    title="Información personal"
    [fields]="user()!.personalfields"
  />

  } @else {
  <div class="ion-text-center">
    <ion-spinner color="weknow-primary"></ion-spinner>
  </div>
  }
</ion-content>
