<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-white">Información del usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if ( user() ) {
  <app-user-card [user]="user()!" />

  <app-field-list
    title="Compañía"
    [fields]="user()!.companyfields"
  />

  <app-field-list
    title="Información personal"
    [fields]="user()!.personalfields"
  />

  } @else {
  <p>Loading...</p>
  }
</ion-content>
